<h1>Home#index</h1>
<p>Hello this is my first rails app!</p>

<%= form_tag root_path, :method => 'POST' do %>
    <%= text_field_tag 'ticker', nil , placeholder: 'Enter Ticker Symbol' , size: 50 %>
    <%= submit_tag 'Lookup' %>
<% end %>


<% if @stock %>
    <%= @stock.inspect %>
    <div> <%= @stock.company_name %> </div>
    <div> <%= @stock.latest_price %> </div>
    <div> <%= @stock.company_name %> </div>
<% elsif @nothing%>
    <%= @nothing %>
<% end %>


 
<% if @error %>
    <div> <%= @error %></div>
<% end %>
 


